<h3 class="title"> REGISTRO </h3>
<div class="containerRegister">
  <div *ngIf="showEmailExist">
    <p class="error">El email ya Existe</p>
  </div>

  <div>
    <div>
      <form [formGroup]="formularioProfile" class="form-control">
        <div>
          <label for="profileName">Profile Name:</label>
          <input type="text" id="profileName" formControlName="profileName" />
        </div>
        <div>
          <label for="birthday">Birthday:</label>
          <input type="date" id="birthday" formControlName="birthday" (input)="calcularEdad()">
        </div>
        <div *ngIf="showMngAge">
          <p class="error"> Recuerda que debes ser mayor de edad</p>
        </div>
        <div>
          <label for="gender">Gender:</label>
          <select id="gender" formControlName="gender">
            <option value="">Select gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </form>
      <form [formGroup]="formularioUser" class="form-control">
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="userEmail" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" (blur)="checkSamePassword()" />
        </div>
        <div>
          <label for="password2">Repite Password:</label>
          <input type="password" id="password" formControlName="password2" (blur)="checkSamePassword()" />
        </div>
        <div *ngIf="showMngPasswordSame">
          <p class="error"> Recuerda que las contraseñas deben de ser iguales</p>
        </div>
        <div>
          <label for="dni">DNI:</label>
          <input type="text" id="dni" formControlName="dni" />
        </div>
        <div>
          <label for="surname">Surname:</label>
          <input type="text" id="surname" formControlName="surname" />
        </div>
        <div class="form-group">
          <button type="submit" (click)="submit()" class="button" [disabled]="!emailMatch || !checkAge">Sign in</button>
        </div>
      </form>

      <!--










      </form>
      -->
      <br>
      <div *ngIf="errorMngErrorRegister">
        <p> El email ya esta en uso </p>
      </div>
    </div>

  </div>
