.header {
  display:flex;

  align-items: center;
  justify-content: space-between;
}

.header img {
  margin-left: 9%;
  width: 250px;
}

.header p {
  font-weight: bold;
}

.header button {
  justify-content: end;
  border-radius: 5px;
}
