.milestones-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan a medida que ocupan más espacio */
}

.milestones-list li {
  margin-right: 0.3%;
}

.close {
  background: #026576;
  background-image: -webkit-linear-gradient(top, #026576, #000000);
  background-image: -moz-linear-gradient(top, #026576, #000000);
  background-image: -ms-linear-gradient(top, #026576, #000000);
  background-image: -o-linear-gradient(top, #026576, #000000);
  background-image: linear-gradient(to bottom, #026576, #000000);
  text-decoration: none;
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 15px;
}

.close:hover {
  background: #5ecadd;
  text-decoration: none;
}