.milestones-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan a medida que ocupan más espacio */
}

.milestones-list li {
  margin: 3%;
}

.close {
  display: flex;
  justify-content: center;
  background: #026576;
  text-decoration: none;
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
}

.close:hover {
  background: #5ecadd;
  text-decoration: none;
}

button {
  display: flex;
  justify-content: center;
  margin: 3%;
  border-radius: 10px;
  margin-left: 5%;
}

li button :hover {
  background: #026576;
}
.image-size {
  margin: 1%;
  width: 200px;
  height: 50px;
}

.botonclose {
  margin-left: 15%;

}