<hr>
<div class="fotter">
  <div class="row">

    <div class="col-md-5">
      <button (click)="openPriceTime()" ngbTooltip="Página oficial de Horarios y Tarifas " class="tool">Horarios y Tarifas</button>
      <button (click)="openActivities()" ngbTooltip="Página oficial de Actividades y eventos" class="tool2">Actividades</button>
      <button (click)="openPdf()" ngbTooltip="Ir al mapa en PDF " class="toolMap">MAPA</button>
      <button #emailButton (click)="copyEmail()" ngbTooltip="cliquea para copiar email " class="toolEmail">
        botanicolaconcepcion@malaga.eu
      </button>
    </div>
    <div class="col-md-3">
      <p>Jardín Botánico-Historico de Málaga
        <br>
        Camino del Jardín Botánico, 3, 29014 - MÁLAGA.
      </p>
    </div>
    <div class="col-md-4">
      <ul>
        <li>Información y taquilla: <br>
          <span> +34 951926180 </span>
        </li>
        <li>Administración: <br>
          <span> +34 951926179 / fax +34 951926478 </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>