<div class="container">
  <h3 class="title">Editar Perfil</h3>
  <br>
  <div class="background">
    <form [formGroup]="profileForm" class="form-control>
      ">
      <label for="perfilSelect">Seleccione un perfil</label>
      <br>
      <select class="form-select" formControlName="perfilSelect" name="perfilSelect">
        <option [ngValue]="item" *ngFor="let item of perfiles">{{item.name}}</option>
      </select>
      <br>


      <div>
        <label for="name">Nombre:</label>
        <br>
        <input type="text" id="name" name="name" formControlName="name">
      </div>
      <br>
      <div>
        <label for="birthday">Fecha de nacimiento:</label>
        <br>
        <input type="date" id="birthday" name="birthday" formControlName="birthday">
      </div>
      <br>
      <div>
        <label for="gender">Género:</label>
        <br>
        <select id="gender" name="gender" formControlName="gender">
          <option value="male">Masculino</option>
          <option value="female">Femenino</option>
          <option value="other">Otro</option>
        </select>
      </div>
      <br>
      <div>
        <label for="active">Activo:</label>
        <br>
        <input type="checkbox" id="active" name="active" formControlName="active">
      </div>
      <br>

      <h1 class="title">Avatar</h1>
      <div class="row">
        <div class="col-md-4" *ngFor="let avatar of tableAvatar">
          <div class="avatar-container">
            <img class="img" [src]="avatar.location" alt="Avatar" tooltip="{{avatar.description}}">

            <br>
            <button (click)="confirmarSeleccion(avatar)">{{ avatar.name }}</button>
          </div>
          <div class="confirmation-container" *ngIf="confirmacion && avatarSelecc === avatar">
            <h3>¿Seleccionar {{ avatar.name }}?</h3>
            <button (click)="seleccionarAvatar(avatar)">Aceptar</button>
            <button (click)="cancelarSeleccion()">Cancelar</button>
          </div>
        </div>
      </div>
      <div>
        <label for="color">Color:</label>
        <br>
        <select id="color" name="color" formControlName="color">
          <option *ngFor="let color of tableColor" [ngValue]="color" [style.background-color]="color.code">
            {{ color.name }}
          </option>
        </select>
        <br>
        <br>
      </div>
    </form>
    <br>
  </div>
</div>
